html, body {
  margin: 0;
  padding: 0;

  background: #394253;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 200;
  color: #fff;
}

html * {
  box-sizing: border-box;
}

button {
  background: #65d2be;
  border: none;
  color: #394253;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 200;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 200ms ease;
}

button:hover, button:focus, button:active {
  background: #369e8b;
  outline: none;
}

hr {
  border: 3px solid #65d2be;
  background: transparent;
}

.wrapper {
  text-align: center;
  margin-top: 150px;
}

.wrapper--start {
}
